<main>
  <section class="home-title">
    <form>
      <input type="text" placeholder="ex: Genesis 1:5-20" />
      <input type="submit" ui-sref="word({book: book, chap: chap, vers: vers})" ng-click="getScripture($event, 'form')" value="Search" />
    </form>
    <p>The Standard Chronology</p>
  </section>
  <section class="links">
    <div>
      <h1>Pre-Earth <span ng-click="minimize($event)">show</span></h1>
      <div class="year-title">
        <div class="year-links">
          <div ui-sref="word({book: book, chap: chap, vers: vers})" ng-click="getScripture($event, 'link')">Genesis <span>1:1-31</span></div>
          <div ui-sref="word({book: book, chap: chap, vers: vers})" ng-click="getScripture($event, 'link')">Genesis <span>2:1-25</span></div>
          <div ui-sref="word({book: book, chap: chap, vers: vers})" ng-click="getScripture($event, 'link')">Genesis <span>3:1-24</span></div>
          <div ui-sref="word({book: book, chap: chap, vers: vers})" ng-click="getScripture($event, 'link')">Genesis <span>4:1-26</span></div>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident.
        </div>
      </div>
    </div>
    <div>
      <h1>4000 B.C. <span ng-click="minimize($event)">show</span></h1>
      <div class="year-title">
        <div class="year-links">
          <div>Genesis <span>3-10</span></div>
          <div>Moses <span>3-4</span></div>
          <div>Abraham <span>5</span></div>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
      </div>
    </div>
    <div>
      <h1>3750 B.C. <span ng-click="minimize($event)">show</span></h1>
      <div class="year-title">
        <div class="year-links">
          <div>Genesis <span>11-14</span></div>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>
    </div>
  </section>
</main>
