<main>
  <section class="main-info-bar">
    <div class="book">
      <img class="left-arrow" src="../images/arrow.svg"/>
      <h1>{{reference}}</h1>
      <img class="right-arrow" src="../images/arrow.svg"/>
    </div>
  </section>
  <section class="scripture">
    <div class="col">
      <p class="hdr">{{header}}</p>
      <p ng-repeat="(key, value) in verses">
        <span>{{key}} </span>{{value}}
      </p>
    </div>
  </section>
  <footer>
    <ul>
      <li>
        Pre-Mortal Life
      </li>
      <li>
        Current Prophet
      </li>
      <li>
        Current World Leader
      </li>
      <li>
        Current Location
      </li>
    </ul>
  </footer>
</main>
