.main-info-bar {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.main-info-bar .book {
  font-size: 20px;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  border-bottom: solid 2px gainsboro;
}

.home-button {
  position: absolute;
  display: flex;
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 15px;
}

.home-button img {
  width: 40px;
  margin: auto;
  z-index: 1;
}

.home-button img:hover {
  cursor: pointer;
}

.main-info-bar .book .left-arrow {
  float: left;
  margin-right: 10px;
  padding: 10px;
  margin-top: -8px;
  margin-left: -10px;
  border: solid 2px white;
}

.main-info-bar .book .search-box {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 90px);
}

.main-info-bar .book .search-box form {
  z-index: 1;
}

.main-info-bar .book h1 {
  margin-top: 5px;
}

.main-info-bar .book .right-arrow {
  float: right;
  transform: rotate(180deg);
  margin-top: -36px;
  margin-right: -10px;
  padding: 10px;
  border: solid 2px white;
}

.main-info-bar .book img:hover {
  cursor: pointer;
  fill: blue;
  border-color: gainsboro;
}

.scripture {
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 10px 0px;
}

.scripture .col {
  -webkit-column-rule: 2px solid gainsboro;
  -webkit-column-span: all;
  -webkit-column-gap: 5px;
  -webkit-column-count: 4;
}

.scripture .col:nth-child(4) {
  border: none;
}

.scripture .col .hdr {
  font-style: italic;
}

.scripture .col p {
  margin: 0px 10px;
  font-size: 13px;
  padding: 2px;
  font-family: 'Lora', serif;
  text-align: justify;
  color: gray;
  line-height: 14px;
  border: solid 1px white;
}

.scripture .col p:hover {
  background: aliceblue;
  border: solid 1px gainsboro;
}

.scripture .col p .span1 {
  color: black;
}

.scripture .col p .span2 {
  color: gray;
}

.scripture .col p .span1:hover {
  cursor: pointer;
}

footer {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

footer ul {
  display: flex;
  max-width: 1000px;
  font-size: 14px;
  justify-content: space-between;
  color: gray;
  border-top: solid 2px gainsboro;
  padding: 13px;
  width: 90%;
  margin-bottom: 40px;
  position: absolute;
}

footer ul li {
  padding: 20px;
  border: solid 2px gainsboro;
}

footer ul li:hover {
  background: gainsboro;
  color: white;
  cursor: pointer;
}
