.main-info-bar {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.main-info-bar .book {
  font-size: 20px;
  padding: 20px;
  margin-top: 40px;
  border-bottom: solid 2px gainsboro;
}

.main-info-bar .book .left-arrow {
  float: left;
  margin-right: 10px;
  padding: 10px;
  margin-top: -12px;
  margin-left: -10px;
  border: solid 2px white;
}

.main-info-bar .book .right-arrow {
  float: right;
  transform: rotate(180deg);
  margin-top: -32px;
  margin-right: -10px;
  padding: 10px;
  border: solid 2px white;
}

.main-info-bar .book img:hover {
  cursor: pointer;
  fill: blue;
  border-color: gainsboro;
}

.scripture {
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 10px 0px;
}

.scripture .col {
  -webkit-column-rule: 2px solid gainsboro;
  -webkit-column-span: all;
  -webkit-column-gap: 5px;
  //column-fill: auto;
  -webkit-column-count: 4;
}

.scripture .col:nth-child(4) {
  border: none;
}

.scripture .col .hdr {
  font-style: italic;
}

.scripture .col p {
  margin: 0px 10px;
  font-size: 13px;
  padding: 2px;
  font-family: 'Lora', serif;
  text-align: justify;
  color: gray;
  line-height: 14px;
  border: solid 1px white;
}

.scripture .col p:hover {
  background: aliceblue;
  border: solid 1px gainsboro;
}

.scripture .col p span {
  color: black;
}

.scripture .col p span:hover {
  cursor: pointer;
}

footer {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

footer ul {
  display: flex;
  max-width: 1000px;
  font-size: 14px;
  justify-content: space-between;
  color: gray;
  border-top: solid 2px gainsboro;
  padding-top: 20px;
  width: 90%;
  margin-bottom: 40px;
  position: absolute;
}

footer ul li {
  padding: 20px;
  border: solid 2px gainsboro;
}

footer ul li:hover {
  background: gainsboro;
  color: white;
  cursor: pointer;
}
